---
const values = [
  [
    {
      ref: '01',
      name: 'Community',
      description:
        'At our core, we believe in the power of technology to strengthen communities and create positive social change. We actively engage in digital literacy initiatives, support local businesses, and develop solutions that promote inclusivity. Every project we undertake considers its broader impact on society.',
    },
    {
      ref: '02',
      name: 'Innovation',
      description:
        'We push the boundaries of what\'s possible by combining cutting-edge technology with creative problem-solving. Our interdisciplinary approach means we\'re always exploring new ways to tackle challenges, embracing emerging technologies, and pioneering solutions that challenge conventional thinking while delivering practical results.',
    },
  ],
  [
    {
      ref: '03',
      name: 'Compassion',
      description:
        'We understand that digital transformation can be overwhelming. That\'s why we approach every client relationship with empathy, patience, and understanding. We take the time to listen, educate, and support, ensuring no one feels left behind in the digital age while providing clear guidance every step of the way.',
    },
    {
      ref: '04',
      name: 'Creativity',
      description:
        'We celebrate unconventional thinking and encourage exploration beyond traditional boundaries. Our antidisciplinary approach combines diverse perspectives and methodologies to create unique solutions. We believe the most innovative answers often come from looking at challenges through multiple lenses and embracing bold new ideas.',
    },
  ],
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-8 lg:gap-12">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Our Values</h2>
      <div class="grid gap-8 lg:grid-cols-2">
        {
          values.map((column, index) => (
            <div class:list={['space-y-8', index === 1 && 'lg:mt-16']}>
              {column.map((value) => (
                <div class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col gap-12 rounded-3xl px-6 py-8">
                  <p class="text-sm">{value.ref}</p>
                  <div class="flex flex-col gap-4">
                    <h3 class="text-xl font-medium">{value.name}</h3>
                    <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                      {value.description}
                    </p>
                  </div>
                </div>
              ))}
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
